:root {
    --TextColor: white;

    --PrimaryColor: hsl(219, 30%, 25%);
    --SecodaryColor: hsl(220, 25%, 15%);

    --NavHeight: 3.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 1rem;
}
main{
    padding-top: var(--NavHeight);
}
ul{
    text-decoration: none;
}
a {
    text-decoration: none;
}

.Container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;

    align-items: center;
}

.Card{
    width: 100%;
    max-width: 600px;


    box-shadow: 0 4px 8px hsla(220, 32%, 8%, .3);
    border-radius: 5px;
    transition: 0.3s;
}

.Card:hover {
    box-shadow: 0 8px 16px hsla(220, 32%, 8%, .3);
}

/* Add some padding inside the card container */
.CardContainer {
    padding: 3px 16px 6px 16px;
}