
.NavHeader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--PrimaryColor);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
}

nav{
    height: var(--NavHeight);
}

.NavData {
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.NavLeft,
.NavRight {
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.NavText,
.NavLink{
    color: white;
    background-color: var(--PrimaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.NavLink:hover{
    background-color: var(--SecodaryColor);
}

.NavLink{
    padding: 1.25rem 1.5rem;
}
